html {
    height: 100%; 
}


body {
    background-color:black;
    
 
}


.container {
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
}

header {

    height: 118px;
    text-align: center;
    color: white;
    font-size: 84px;
    font-family:'Times New Roman', Times, serif;



}

nav {
    background-color: rgba(0, 0, 0, 0.378);
    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px; 

}

main {
    height: 400px;
    text-align: center;
    padding-top: 80px;
    padding-left: 240px;
    padding-right: 240px;


}

footer {
    background-color: aqua;
    height: 100px;


}

h1 {
    font-size: 40px;
    color: white;
    font-family:'Times New Roman', Times, serif;
 

}

p {
    font-size: 30px;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

a {
    color: white;
    font-family:'Times New Roman', Times, serif;
    text-decoration: none;
}

nav a {
    text-decoration: none;
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;

}

